<h1>Stupid Coaching</h1>
<!-- <div class="form-group">
  <form action="answer">
    <input type="text" name="question" placeholder="Ask me anything!" class="form-control">
    <input type="submit" value="Ask!" class="form-control btn btn-primary">
  </form>
</div> -->

<!-- <form class="form-inline" action="answer">
  <input type="text" name="question" class="form-control" placeholder="Ask me anything!" aria-describedby="button-addon2">
  <div class="input-group-append">
    <input class="btn btn-primary" type="submit" id="button-addon2" value="Ask!">
  </div>
</form> -->
<div style="width: 500px">
  <form action="answer">
    <div class="input-group mb-3">
      <input type="text" name="question" class="form-control" placeholder="Recipient's username" aria-describedby="button-addon2">
      <div class="input-group-append">
        <input class="btn btn-primary" type="submit" id="button-addon2">
      </div>
    </div>
  </form>
</div>
